.home-main{
    display: flex;
    justify-content: space-evenly;
}

.instructions{
    margin-top: 3rem;
}

.player{
    background-color: #5ED6BE;
    border-radius: 30%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bubble-bounce 4s ease infinite;
    position: relative;
    box-shadow: 5px 5px 30px grey;
}
.host { 
    background-color: #DD92BF;
    border-radius: 30%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bubble-bounce 4s ease infinite;
    position: relative;
    box-shadow: 5px 5px 30px grey;
}

.start{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item{
    margin-top: 30px;
    grid-column-start: 2;
}

@keyframes bubble-bounce {
    0%, 100% {
        top: 0;
        left: 0;
    }
    25% {
        top: 10px;
        left: 10px
    }

    50% {
        top: 20px;
        left: 0px
    }
    75% {
        top: 10px;
        left: -10px
    }
}
